


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments :: myheader"></div>
    <link th:href="@{/css/role.css}" rel="stylesheet">


    <title>Home</title>
</head>
<body>
<div th:replace="fragments :: Admin-navbar"></div>






<section class="intro">
    <div class="bg-image h-100" style="background-color: #f5f7fa;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center m-3">
                            <h5>User Management Table</h5>
                        </div>
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72;">
                                        <tr>
                                            <th scope="col">Firstname</th>
                                            <th scope="col">Lastname</th>
                                            <th scope="col">Username</th>

                                            <th scope="col"></th>

                                            <th scope="col">Action</th>

                                        </tr>
                                        </thead>
                                        <tbody>


                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.firstName}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.username}"></td>

                                            <td>
                                                <a  th:href="@{'/admin/editRole/'+${user.id}}"
                                                    class="btn btn-primary"><i class="icon_pencil-edit"></i>Manage Roles</a>
                                            </td>

                                            <td>

                                             <div>
                                                 <a th:href="@{/admin/viewUser/{id}(id=${user.id})}" class="btn btn-primary">View</a>
                                                 <a th:href="@{/admin/editUser/{id}(id=${user.id})}" class="btn btn-danger">edit</a>

                                                 <a onclick="return confirm('Are you sure you want delete?')"
                                                    th:href="@{/admin/deleteUser/{id}(id=${user.id})}"
                                                    class="btn btn-danger"><i class="icon_close_alt2"></i>Delete</a>


                                             </div>

                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div th:replace="fragments :: jsFile"></div>
</body>
</html>