<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<!--<div th:replace="partials ::head"></div>-->

<head th:replace="partials::head"/>



<body>

<div th:replace="partials :: mainNavbar"></div>





        <!-- page start-->



        <div class="container mt-3" style="width: 100%">


            <div class="row">


                    <div th:replace="partials ::sideNavbar-admin1"></div>



                <div class="col-8">

                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-6 mt-3">
                                <div class="card">

                                    <div class="card-header text-center"><h5> User Details</h5></div>

                                    <form th:action="@{/admin/saveEdit}"  method="POST">

                                    <div class="form-group row w-100 m-1">
                                        <label class="col-form-label col-sm-4 text-center">Id</label>
                                        <div class="col-8">
                                            <input name="id" th:value="${user.id}" readonly type="number"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row w-100 m-1">
                                        <label class="col-form-label col-sm-4 text-center">Firstname</label>
                                        <div class="col-8">
                                            <input name="firstName" th:value="${user.firstName}" class="form-control" size="16"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row w-100 m-1">
                                        <label class="col-form-label col-sm-4 text-center"> Lastname</label>
                                        <div class="col-8">
                                            <input name="lastName" th:value="${user.lastName}" type="text"
                                                   class=" form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group row w-100 m-1">
                                        <label class="col-form-label col-sm-4 text-center">Username</label>
                                        <div class="col-8">
                                            <input name="username" th:value="${user.username}" type="text" class="form-control">
                                        </div>
                                    </div>


                                        <div class="form-group row w-100 m-1">
                                            <label class="col-form-label col-sm-4 text-center">Email</label>
                                            <div class="col-8">
                                                <input name="email" th:value="${user.email}" type="text" class="form-control">
                                            </div>
                                        </div>



                                        <div class="form-group row w-100 m-1    ">
                                            <label class="col-form-label col-sm-4 text-center">password</label>
                                            <div class="col-8">
                                                <input name="password"  type="text" class="form-control">
                                            </div>
                                        </div>
<div class="text-center m-1">
    <button class="btn btn-primary">update</button>

</div>
                                    </form>
                                </div>
                            </div>


                            <div class="col-lg-6 mt-3">


                                <div class="card ">
                                    <div class="card-header text-center">
                                        <h5>Roles currently Assigned to User</h5>
                                    </div>
                                    <table class="table  table-advance ">
                                        <tbody>
                                        <tr>
                                            <th></th>
                                            <th><i class="icon_profile"></i> Description</th>
                                            <th><i class="icon_cogs"></i> Action</th>
                                        </tr>
                                        <tr th:each="userRole:${userRoles}">
                                            <td><i class="fa fa-table"></i></td>
                                            <td th:text="${userRole.type}"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a onclick="return confirm('Are you sure you want delete?')"
                                                       th:href="@{'/super-admin/role/unassign/'+${user.id}+'/'+${userRole.id}}"
                                                       class="btn btn-danger"><i class="icon_close_alt2"></i>Unassign</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>


                        <div class="card mt-5">

                            <div class="card-header">
                           <h5> Roles current user is not assigned to</h5>
                            </div>

                            <table class="table  table-advance">
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th><i class="icon_profile"></i> Description</th>
                                    <th><i class="icon_calendar"></i> Details</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                                <tr th:each="userNotRole:${userNotRoles}">
                                    <td><i class="fa fa-table"></i></td>
                                    <td th:text="${userNotRole.type}"></td>
                                    <td th:text="${userNotRole.details}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <a onclick="return confirm('Are you sure you want Add role?')"
                                               th:href="@{'/super-admin/role/assign/'+${user.id}+'/'+${userNotRole.id}}"
                                               class="btn btn-success">Assign</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



    </div>





<div th:replace="partials :: scriptTags"></div>
<div th:replace="fragments :: jsFile"></div>

</body>
</html>



