<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CommentCrudTest</title>
    <style>

    </style>
</head>
<body>

<!--<form action="/comments/editComment" th:object="${editComment}" method="post" class="modal" tabindex="-1" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <input type="hidden" th:field="*{id}" name="id">-->
<!--                <input type="hidden" th:field="*{postingUserId}" name="postingUserId">-->
<!--                <input type="hidden" th:field="*{post}" name="post">-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <textarea th:field="*{comment}" name="comment" id="" cols="30" rows="10"></textarea>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Save</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->


</body>
</html>