<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials::head"/>
<body>

<!-- Container START -->
<div class="container">
    <h2 align="center">Searching Users you are following</h2>
    <form th:action="@{/searchFollowing}" method="get">
        <input type="text" name="user"   placeholder="Find Following Users" size="50" >
        <button type="submit" class="btn btn-info" size="50" >Search</button>
    </form>

    <div th:each="list : ${lists}" class="card mt-2">
        <div class="card-body pt-0">
            <div class="text-center">

                Avatar
                <div class="avatar avatar-lg mt-n5 mb-3">
                    <a href="#!"><img style="width: 50px;" class="avatar-img  border border-white border-3"
                                      th:src="${list.profilePicture}" alt=""></a>
                </div>

                <!-- Info -->
                <h5 class="mb-0"><a href="#!" th:text="${list.firstName}+' '+${list.lastName}"></a></h5>
                <small th:text="${list.userTitle}"></small>
                <div>
                    <div>
                        <h6 class="mb-0">2.5K</h6>
                        <small>Followers</small>
                    </div>
                    <!-- Divider -->
                    <div class="vr"></div>
                    <!-- User stat item -->
                    <div>
                        <h6 class="mb-0">365</h6>
                        <small>Following</small>
                    </div>
                </div>
                <!-- User stat END -->

            </div>
        </div>
    </div>

</div>



<!-- Container END -->
</body>
</html>

