<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: myheader"></div>

    <div th:replace="fragments :: css"></div>

    <meta charset="UTF-8"/>
    <title>Profile</title>
</head>
<body>
<div th:replace="fragments :: profile-navbar"></div>
<section>
    <h5 th:text="${updateProfile.username}"></h5>

    <form th:action="@{/update-profile}" method="get">
        <div>
            <div style="width: 150px;">
                <!-- Edit Profile Picture -->
                <img src="/images/CryptoLandingCard.jpg"
                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px; z-index: 1">
                <!-- Edit Profile Button -->
                <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                        style="z-index: 1;">Update profile
                </button>
            </div>
        </div>
    </form>
</section>

<!-- Bootstrap -->
<div th:replace="fragments :: jsFile"></div>
</body>
</html>