    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head>-->
<!--    <div th:replace="fragments :: myheader"></div>-->
<!--    <div th:replace="fragments :: css"></div>-->

<!--    <title>posts</title>-->
<!--</head>-->

<head th:replace="partials::head(title='Sign Up')"/>
<body>
<!--<div th:replace="fragments :: pforms-navbar"></div>-->
<nav th:replace="partials::mainNavbar"/>

<div class="text-center mb-3">
    <h1>Create an account</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-danger m-3" role="alert" th:text="${invalid}" th:if="${invalid}"></div>

        <span class="anchor" id="formRegister"></span>
        <hr class="mb-5">
        <!-- form card register -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Sign Up</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/sign-up}" method="POST"  autocomplete="off" class="form" role="form">


                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input name="firstName"  th:value="${firstname}" class="form-control" id="firstName" placeholder="First Name" required="" type="text">
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input name="lastName"  th:value="${lastname}"  class="form-control" id="lastName" placeholder="Last Name" required="" type="text">
                    </div>


                    <div class="form-group">
                        <label for="inputName">UserName</label>
                        <input name="username" th:value="${username}"  class="form-control" id="inputName" placeholder="username" type="text">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3">Email</label>
                        <input name="email" th:value="${email}" class="form-control" id="inputEmail3" placeholder="Email" required="" type="email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3">Password</label>
                        <input name="password" class="form-control" id="inputPassword3" placeholder="Password" required="" type="password">
                        <small class="form-text text-muted" id="passwordHelpBlock">Your password must be 8-20 characters long, contain letters and special characters, and must not contain spaces, or emoji.</small>
                    </div>

                    <div class="form-group d-flex justify-content-end mt-4">
                        <button class="btn btn-success btn-lg float-right" type="submit" onclick="alert('Welcome to NetWorth!\n\n\'Whoever controls the media controls the mind . . . .\'')">Register</button>
                    </div>
                </form>
            </div>
        </div><!-- /form card register -->
    </div>
</div>
</body>
</html>