:root{
    --bg-color: #1f2833;
    --box-color:#151f28;
    --text-color: #FAF7F2;
    --main-color: #66fcf1;
    --accent-color:#c5c6c7;
    --accent-color2:#45a29e;
}


/*Nav Styling*/
.navbar-img{
    height: 150px;
}

/*Nav-Link items*/
.nav-link:hover{
    color: lawngreen;
}

.navbar-form:hover
{
    color: lawngreen;
}

/*User Profile Sidebar Nav*/
.profile-button:hover
{
    color: gold;
}

/*Body Styling*/
a{
    color: var(--text-color);
}

/* Button Styling START */
.shareBtn{
    color: var(--text-color);
    /* border-radius: 40px; */
    /* background: linear-gradient(90deg, #c5c6c7, var(--accent-color2)); */

    /* background: linear-gradient(90deg,#141F2D, #38424E); */
    background: #38424E center;
    transition: background 0.8s;
}

.shareBtn:hover {
    background: #525E6D radial-gradient(circle, transparent 1%, #525E6D 1%) center/15000%;
}
.shareBtn:active {
    background-color: #38424E;
    background-size: 100%;
    transition: background 0s;
}
/* Button Styling END */


/*Card Styling*/
.card{
    color: var(--text-color);
    /*background-color: var(--box-color) ;*/
    /*background-color: rgba(0,0,0,0.5);*/
    background: linear-gradient(to right bottom, rgba(225,225,225,0), rgba(0,0,0,0.5));

    border-top-color: rgba(225,225,225,0.5);
    border-left-color: rgba(225,225,225,0.5);
    border-bottom-color: rgba(225,225,225,0.1);
    border-right-color: rgba(225,225,225,0.1);

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
}
/*.card-header{*/
/*    background-color: var(--box-color);*/
/*}*/

/*.card-body{*/
/*    background-color:var(--box-color) ;*/

/*}*/

body{
    background: var(--bg-color);
    color: var(--text-color);
}


/*Thumbs up and down styling*/
.fa-thumbs-up{
    color: var(--text-color);
}

.fa-thumbs-down{
    color: var(--text-color);
}

/*Table Styling*/
.table{
    background-color: rgba(225,225,225,0);
}

thead{
    color: #66fcf1;
}

tbody{
    color: #66fcf1;
}

/* Modal styling */
.modal-header{

    /* background: linear-gradient(to right bottom, rgba(225,225,225,0), rgba(0,0,0,0.5)); */

    background: linear-gradient(to right bottom, var(--bg-color), var(--box-color));
}

.modal-body{

    /* background: linear-gradient(to right bottom, rgba(225,225,225,0), rgba(0,0,0,0.5)); */

    background: linear-gradient(to right bottom, var(--bg-color), var(--box-color));
}

.modal-backdrop {
    z-index: 1020;
}
