<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--&lt;!&ndash; ... &ndash;&gt;<head>-->
<!--    <div th:replace="fragments :: myheader"></div>-->



<!--    <title>Home</title>-->
<!--</head>-->

<head th:replace="partials::head(title='Cypto')"/>
<body>

<!--<div th:replace="fragments :: crypto-navbar"></div>-->
<nav th:replace="partials::profileNavbar"/>

<div></div>



<section class="crypto-page">
    <div class="alert alert-danger" role="alert" th:text="${red}" th:if="${red}"></div>
    <div class="alert alert-danger" role="alert" th:text="${added}" th:if="${added}"></div>


    <div class="bg-image h-100" style="">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(25, 185, 234,.25);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Current Price</th>
                                            <th scope="col">Market Cap</th>
                                            <th scope="col">24Hr High</th>
                                            <th scope="col">24Hr Low</th>
                                            <th scope="col">24Hr Price Change </th>
                                            <th scope="col">more</th>
                                        </tr>
                                        </thead>
                                        <tbody id="list-crypto">




                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





<div th:replace="fragments :: jsFile"></div>
</body>
</html>