<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials::head"/>
<body>

<!--Main Navbar-->
<nav th:replace="partials::mainNavbar"/>

<!--Primary Content-->
<main>
    <!-- Container START -->
    <div class="container">
        <div class="row g-4">

            <!-- Sidenav START -->
            <div th:replace="partials::sideNavbar"/>
            <!-- Sidenav END -->


            <!-- Main content START -->
            <div class="col-md-8 col-lg-6 vstack gap-4">
                <!-- Top Performing Portfolio START -->
                <!--PUT carousel here with top portfolios-->
                <!-- Top Performing PortfolioEND -->


                <!-- Share feed START -->
                <div class="card card-body">
                    <div class="d-flex mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-xs me-2">
                            <a href="#"> <img class="avatar-img " src="images/AS_31.jpg" alt=""> </a>
                        </div>
                        <!-- Post input -->
                        <form class="w-100" th:action="@{/posts/create}" th:method="post" th:object="${newPost}">
                            <textarea th:field="*{description}" class="form-control pe-4 border-0" rows="2"
                                      data-autoresize="" placeholder="Share your thoughts..."></textarea>
                            <input id="imgurl" type="text" name="imgUrl" hidden value="null">
                            <input id="videourl" type="text" name="videoUrl" hidden value="null">
                            <button class="btn shareBtn mt-2 me-1" id="imageButton" type="button"><i class="fa-regular fa-image"></i>
                                picture
                            </button>
                            <button class="btn shareBtn mt-2 me-1" id="videoButton" type="button"><i class="fa-solid fa-video"></i> video
                            </button>
                            <button class="btn shareBtn mt-2" type="submit"><i class="fa-solid fa-square-share-nodes"
                                                                               style="color: white"> share</button>
                        </form>
                    </div>
                </div>
                <!-- Share feed END -->



                <!-- Card feed item START -->
                <div th:each="post: ${posts}">

                    <!--//Post Card item START-->
                    <div class="card ">

                        <!--Card header START-->
                        <div class="card-header" th:id="'post'+${post.id}">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <!--Avatar-->
                                    <img th:src="${post.getUser().profilePicture}" class="rounded-circle mb-3"
                                         style="width: 50px;" alt="Avatar"/>
                                    <!--Info-->
                                    <!--                <h5 class="mb-2"><strong th:text="${post.getUser().firstName}"></strong> <strong th:text="${post.getUser().lastName}"></strong></h5>-->
                                    <div>
                                        <div class="nav nav-divider">
                                            <!--INPUT USER PROFILE LINK-->
                                            <h6 class="nav-item card-title mb-0"><a th:href="@{/userProfile/{id}(id = ${post.getUser().id})}"> <strong
                                                    th:text="${post.getUser().firstName}"></strong> <strong
                                                    th:text="${post.getUser().lastName}"></strong> </a></h6>
                                        </div>
                                        <p class="mb-0 small" th:text="${post.user.userTitle}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card header END-->

                        <!--Card body START-->
                        <div class="card-body">
                            <!--Post Description-->
                            <p class="card-text"  th:text="${post.description}"></p>

                            <!--Post image-->
                            <div th:if="${post.imgUrl} != 'null'">
                                <img th:src="${post.imgUrl}" class="card-img-top" alt="logoImage">
                            </div>
                            <!--video image-->
                            <div th:if="${post.videoUrl} != 'null'">
                                <video class="card-img-top"  controls>
                                    <source th:src="${post.videoUrl}" type="video/mp4">
                                </video>
                            </div>

                            <!--Post Reaction Items START-->
                            <div class="d-flex align-items-center justify-content-between">
                                <form th:action="@{/like/post}" th:method="post">
                                    <input hidden name="postId" th:value="${post.id}">

                                    <button class="btn" type="submit">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <span class="badge bg-secondary" th:text="${post.likes.size()}"></span>
                                    </button>

                                </form>

                                <form th:action="@{/dislike/post}" th:method="post">
                                    <input hidden name="postId" th:value="${post.id}">
                                    <button class="btn" type="submit">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                        <span class="badge bg-secondary" th:text="${post.dislikes.size()}"></span>
                                    </button>

                                </form>

                                <button class="btn shareBtn" data-bs-toggle="collapse" th:attr="data-bs-target='#collapse'+${post.id}"
                                        aria-expanded="false" aria-controls="collapseExample">
                                    Comments
                                    <span class="badge ms-1" th:text="${post.getComments().size()}"></span>
                                </button>

                            </div>
                            <!--Post Reaction Items END-->

                            <!-- Add comment START-->
                            <div class="d-flex mb-3 mt-2">
                                <!-- Avatar -->
                                <!-- GET LOGGED-IN USER DATA FOR AVATAR IMAGE-->
                                <div class="avatar avatar-xs me-2">
                                    <a href="#!"> <img class="avatar-img rounded-circle"
                                                       style="width: 50px;"
                                                       th:src="${user.profilePicture}"
                                                        alt=""> </a>
                                </div>
                                <!-- Comment box  -->
                                <form class="w-75 d-flex justify-content-center" th:action="@{/posts/{id}/create/comment(id=${post.id})}" th:method="post" th:object="${newComment}">
                                    <textarea th:field="*{message}" name="commentSection" data-autoresize="" class="form-control pe-4 bg-light" rows="1"
                                              placeholder="Add a comment..."></textarea>
                                    <button class="btn shareBtn ms-2" type="submit" >comment</button>
                                </form>
                            </div>
                            <!-- Add comment END-->

                            <!-- Comment wrap START -->
                            <div th:each="comment: ${post.getComments()}">
                            <div class="collapse" th:id="'collapse'+${post.id}">
                                <ul class="comment-wrap list-unstyled">
                                    <li class="comment-item">
                                        <div class="d-flex position-relative">
                                            <!-- Avatar -->
                                            <!--GET COMMENT USER IMAGE-->
                                            <div class="avatar avatar-xs">
                                                <a th:href="@{/userProfile/{id}(id = ${comment.user.id})}"><img style="width: 50px;" class="avatar-img rounded-circle"
                                                                  th:src="${comment.user.profilePicture}" alt=""></a>
                                            </div>
                                            <div class="ms-2">
                                                <!-- Comment by -->
                                                <div class=" rounded-start-top-0 p-3 rounded">
                                                    <div class="d-flex justify-content-between">
                                                        <h6 class="mb-1"><a th:href="@{/userProfile/{id}(id = ${comment.user.id})}" th:text="${comment.user.firstName}+' '+${comment.user.lastName}"></a></h6>
                                                    </div>
                                                    <p class="small mb-0" th:text="${comment.message}"></p>
                                                </div>
                                                <!-- Comment react -->
                                                <!-- PUT THIS IF TIME IS ALLOTED-->
                                                <!--                            <ul class="nav nav-divider py-2 small">-->
                                                <!--                                <li class="nav-item">-->
                                                <!--                                    <a class="nav-link" href="#!"> Like (3)</a>-->
                                                <!--                                </li>-->
                                                <!--                                <li class="nav-item">-->
                                                <!--                                    <a class="nav-link" href="#!"> Reply</a>-->
                                                <!--                                </li>-->
                                                <!--                                <li class="nav-item">-->
                                                <!--                                    <a class="nav-link" href="#!"> View 5 replies</a>-->
                                                <!--                                </li>-->
                                                <!--                            </ul>-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            </div>
                            <!-- Comment wrap END -->

                        </div>
                        <!--Card body END-->

                    </div>
                    <!--//Post Card item START-->

                </div>
                <!-- Card feed item END -->


            </div>


            <!-- Right sidebar START -->
            <div class="col-lg-3">
                <div class=" card">
                    <div class="table-responsive scrollbar">
                        <h2 class="card-header">24 Hour Trending Crypto</h2>
                        <div class="card-body ">

                            <table class="table fs--1 mb-0 overflow-hidden">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Symbol</th>
                                    <th>market cap rank</th>

                                </tr>
                                </thead>
                                <tbody id="trending-stock">

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- Right sidebar END -->

            </div> <!-- Row END -->


        </div>
    </div>
    <!-- Container END -->
</main>


<!--    Javascript files for image upload-->
<div th:replace="partials::scriptTags"/>
</body>


</html>