<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials::head"/>

<body>
<nav th:replace="partials::mainNavbar"/>

<div class="container-fluid">
    <div class="row g-4">

        <div th:replace="partials::sideNavbar"/>

        <!-- Main content START -->
        <div class="col-md-8 col-lg-6  vstack gap-4">

            <!--Chart Content START-->
            <div class="card">

                <!--Card Header START-->
                <div class="card-header">
                    <div class="row">
                        <h5 class="card-heading col-5" th:text="${selectedPortfolio.name}">Portfolio Name</h5>

                        <!--Select, Edit, Create, and Delete Portfolio Form and Modal START-->
                        <form th:action="@{/finance/portfolioSelection}" method="post" class="col-7">

                                <select name="portfolioId" class="form-select" aria-label="Default select example"
                                        aria-describedby="button-addon2">
                                    <div th:each="portfolio: ${portfolios}">
                                        <option th:text="${portfolio.name}" th:value="${portfolio.id}"></option>

                                    </div>
                                </select>
                                <button class="btn shareBtn mt-2 me-1" type="submit" id="button-addon2">Select
                                </button>
                                <a th:href="@{/editPortfolio/{id}(id=${selectedPortfolio.id})}"
                                   class="btn shareBtn mt-2 me-1">edit</a>
                                <a th:href="@{/deletePortfolio/{id}(id=${selectedPortfolio.id})}"
                                   class="btn btn-danger mt-2 me-1">delete</a>
                                <button type="button" class="btn  btn-success mt-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Create Portfolio
                                </button>

                        </form>
                        <!--Select, Edit, Create, and Delete Portfolio Form and Modal END-->

                    </div>
                </div>
                <!--Card Header END-->

                <!--Card Body START-->
                <div class="card-body">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <div class="row mb-5">

                        <!--Total Balance Section START-->
                        <div class="col-12 col-sm-auto flex-sm-grow-1 py-3">
                            <h3 class="subtitle text-gray-500">Total Balance</h3>
                            <div th:text="${#numbers.formatCurrency(totalBalance)}" class="h1 text-primary"></div>
<!--                            <p class="mb-0"><span class="text-muted me-3">+$2,032 </span><span-->
<!--                                    class="badge badge-success-light"><i class="fas fa-arrow-up me-2"></i>19.5%</span>-->
<!--                            </p>-->
                        </div>
                        <!--Total Balance Section END-->

                        <!--24h Change Section START-->
                        <div class="col-6 col-sm-auto flex-sm-grow-1 border-start py-3 d-flex align-items-center">
                            <div>
                                <h3 class="subtitle text-gray-500 fw-normal">24h Portfolio Change</h3>
                                <div class="h4 fw-normal " th:text="${#numbers.formatCurrency(portfolioChange)}"></div>
<!--                                <p class="mb-0"><span class="text-muted me-2">+$2,123 </span><span-->
<!--                                        class="badge badge-success-light"><i-->
<!--                                        class="fas fa-arrow-up me-2"></i>21.3%</span></p>-->
                            </div>
                        </div>
                        <!--24h Change Section END-->

                        <!--Profit/Loss Section START-->
<!--                        <div class="col-6 col-sm-auto flex-sm-grow-1 border-start py-3 d-flex align-items-center">-->
<!--                            <div>-->
<!--                                <h3 class="subtitle text-gray-500 fw-normal">Profit/Loss </h3>-->
<!--                                <div class="h4 fw-normal ">$2,500</div>-->
<!--                                <p class="mb-0"><span class="text-muted me-2">-$233 </span><span-->
<!--                                        class="badge badge-danger-light"><i class="fas fa-arrow-down me-2"></i>-2.1%           </span>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!--Profit/Loss Section START-->

                    </div>
                    <!-- <canvas id="barChart" style="display: block; height: 387px; width: 775px;" width="1550" height="774" class="chartjs-render-monitor"></canvas> -->

                    <canvas id="myChart"></canvas>
                    <!-- Get data from controller -->
                    <!-- Put data in hidden input elements -->
                    <!-- Grab data from Js file  -->
                    <!-- Put data in ChartJs function -->
                </div>
                <!--Card Header END-->

            </div>
            <!--Chart Content END-->


            <!--Asset Content START-->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive scrollbar">
                        <table class="table align-middle mb-0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>24h</th>
                                <th>Market Cap</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="portfolioAsset: ${portfolioAssets}">

                                <td>
                                    <p th:text="${portfolioAsset.getAsset().name}" class="fw-bold mb-1"></p>
                                </td>
                                <td>
                                    <p th:text="${#numbers.formatCurrency(assetData.get(portfolioAsset.getAsset().name+'price'))}"
                                       class="fw-normal mb-1"></p>
                                </td>
                                <td>
                                    <p th:text="${portfolioAsset.quantity}" class="fw-normal mb-1"></p>
                                </td>
                                <td>
                                    <p th:text="${#numbers.formatCurrency(assetData.get(portfolioAsset.getAsset().name+'priceChange'))}"
                                       class="fw-normal mb-1"></p>
                                </td>
                                <td>
                                    <p th:text="${#numbers.formatCurrency(assetData.get(portfolioAsset.getAsset().name+'marketCap'))}"
                                       class="fw-normal mb-1">John Doe</p>
                                </td>
                                <td>
                                    <a th:href="@{/updateAsset/{id}(id=${portfolioAsset.getId()})}"
                                       class="btn">Update</a>
                                </td>
                                <td>
                                    <a th:href="@{/finance/delete/asset/{id}/{portfolioId}(id=${portfolioAsset.getAsset().id}, portfolioId = ${selectedPortfolio.id})}"
                                       class="btn">Delete</a>
                                </td>
                                <!--                                <td>-->
                                <!--                                    <div class="d-flex align-items-center">-->
                                <!--                                        <img-->
                                <!--                                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"-->
                                <!--                                                alt=""-->
                                <!--                                                style="width: 45px; height: 45px"-->
                                <!--                                                class="rounded-circle"-->
                                <!--                                        />-->
                                <!--                                        <div class="ms-3">-->
                                <!--                                            <p class="fw-bold mb-1">John Doe</p>-->
                                <!--                                            <p class="text-muted mb-0">john.doe@gmail.com</p>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </td>-->
                                <!--                                <td>-->
                                <!--                                    <p class="fw-normal mb-1">Software engineer</p>-->
                                <!--                                    <p class="text-muted mb-0">IT department</p>-->
                                <!--                                </td>-->
                                <!--                                <td>-->
                                <!--                                    <span class="badge badge-success rounded-pill d-inline">Active</span>-->
                                <!--                                </td>-->
                                <!--                                <td>Senior</td>-->
                                <!--                                <td>-->
                                <!--                                    <button type="button" class="btn btn-link btn-sm btn-rounded">-->
                                <!--                                        Edit-->
                                <!--                                    </button>-->
                                <!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Asset Content END-->


        </div>
        <!-- Main content END -->


        <!-- Right sidebar START -->
        <div class="col-lg-3">
            <div class=" card  mt-4">
                <div class="table-responsive scrollbar">
                    <h2 class="card-header">24 Hour Trending Crypto</h2>
                    <div class="card-body ">

                        <table class="table fs--1 mb-0 overflow-hidden">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Symbol</th>
                                <th>market cap rank</th>

                            </tr>
                            </thead>
                            <tbody id="trending-stock">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- Right sidebar END -->

    </div>

    <!--Chart data hidden inputs START-->
    <div th:each="entry: ${portfolioPerformance.entrySet()}">
        <input hidden class="dates" th:value="${entry.getKey()}"/>
        <br>
        <input hidden class="totals" th:value="${entry.getValue()}"/>
    </div>
    <!--Chart data hidden inputs END-->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        let documentDates = document.getElementsByClassName('dates');
        let documentTotals = document.getElementsByClassName('totals');
        let dates = [];
        let totals = [];
        let date = new Date();

        // let dates = [];

        //Days of the week
        // console.log(dates);
        for (let date of documentDates) {

            dates.push(date.value);
        }
        console.log(dates);

        for (let total of documentTotals) {

            totals.push(total.value);
        }
        console.log(totals);
        // for(let i=6; i > -1; i--){
        //     dates.push(date.getDate()-i);
        // }

        //Crypto data from Api
        //Containing total value for the past seven days


        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Portfolio Value',
                    data: totals,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
    <div th:replace="partials::scriptTags"/>
</div>

</body>

<!--Create Portfolio Modal START-->
<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true"
     data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create
                    Portfolio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/addPortfolio}" method="POST" autocomplete="off"
                      class="form" role="form">

                    <div class="form-group">
                        <label for="name">Portfolio name</label>
                        <input name="name" class="form-control" id="name" placeholder=""
                               required="" type="text">
                    </div>

                    <div class="form-group">
                        <label for="dollar">Dollar limit</label>
                        <input name="dollarLimit" class="form-control" id="dollar"
                               placeholder="$" required="" type="text">
                    </div>

                    <div class="form-group">
                        <label for="type">choose Portfolio type</label>
                        <select id="type" name="type" class="form-select">
                            <option>Private</option>
                            <option>Default</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success btn-lg float-right"
                                type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Create Portfolio Modal END-->
</html>