<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!-- Header -->
<div th:fragment="myheader">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</div>

<!-- CSS -->
<div th:fragment="css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</div>

<!-- Navbar -->
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">

                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScrollMain"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScrollMain">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>



                </ul>
                <ul sec:authorize="isAuthenticated()" class="me-auto my-2 my-lg-0 navbar-nav">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="POST">
                            <button class="btn btn primary" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Landing Navbar -->
<div th:fragment="landing-navbar">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">


            <a class="navbar-brand" href="/">
                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll2"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll2">
                <ul class=" me-auto my-2 my-lg-0 navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userProfile}">Profile</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/crypto}">Crypto</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userFinance}">Portfolio</a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts}">Your Network</a>
                    </li>
                </ul>

                    <li sec:authorize="hasAuthority('admin')" class="nav-item">
                        <a class="nav-link" th:href="@{/admin/getUsers}">Manage Users</a>
                    </li>



                <div class="d-flex">
                    <ul class="me-auto my-2 my-lg-0 navbar-nav">
                        <li class="nav-item">
                            <a id="login" class="nav-link " th:href="@{/login}">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sign-up}">Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</div>

<!-- Profile Navbar -->
<div th:fragment="profile-navbar">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">


            <a class="navbar-brand" href="/">
                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll3"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll3">
                <ul class=" me-auto my-2 my-lg-0 navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile">Profile</a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" th:href="userFinance">Portfolio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/post">Your Network</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <ul sec:authorize="isAuthenticated()" class="me-auto my-2 my-lg-0 navbar-nav">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <button class="btn btn primary" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</div>

<!-- Portfolio Navbar -->
<div th:fragment="portfolio-navbar">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">


            <a class="navbar-brand" href="/">
                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll4"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll4">
                <ul class=" me-auto my-2 my-lg-0 navbar-nav">


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/crypto}">Crypto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/feed}">Your Network</a>
                    </li>





                </ul>

                <form class="d-flex">
                    <input class="form-control me-2 crypto-search" type="text" placeholder="Search" aria-label="Search">
                    <button id="searchBtn1" class="btn btn-outline-success " type="button">Search</button>
                </form>


                <div class="d-flex">
                    <ul sec:authorize="isAuthenticated()" class="me-auto my-2 my-lg-0 navbar-nav">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <button class="btn btn primary" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>


</div>


<div th:fragment="crypto-navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">

                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>


                </ul>
                <form class="d-flex">
                    <input id="crypto-search" class="form-control me-2 " type="text" placeholder="Search" aria-label="Search">
                    <button id="searchBtn" class="btn btn-outline-success " type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>


<div th:fragment="pforms-navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">

                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll-forms"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll-forms">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">



                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>




<div th:fragment="Admin-navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">

                <img th:src="@{/images/logo.png}"/>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Admin-navbarScroll-forms"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Admin-navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" >Roles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" >Manage Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>







        <div th:fragment="jsFile">

            <script type="text/javascript" th:src="@{js/main.js}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>

</body>
</html>