<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<!--Head tag fragment START-->
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/role.css}" rel="stylesheet">
    <!--BootStrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--FontAwesome script-->
    <script src="https://kit.fontawesome.com/27b1eac4bf.js" crossorigin="anonymous"></script>


    <!--Custom style sheet-->
    <link href="/css/post.css" rel="stylesheet">

    <meta charset="UTF-8"/>
    <title>Your Feed</title>
</head>
<!--Head tag fragment END-->


<nav th:fragment="landingNavbar" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img class="navbar-img" src="/images/networth-1.png" alt=""></a>
    </div>
</nav>

<nav th:fragment="mainNavbar" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/userProfile" class="navbar-brand"><img class="navbar-img" src="/images/networth-1.png" alt=""></a>
    </div>
</nav>


<!-- START Login Navbar -->
<nav th:fragment="loginNavbar" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img class="navbar-img" src="/images/networth-1.png" alt=""></a>

    </div>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="mainNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="/about">about</a>
            </li>
        </ul>

    </div>
</nav>
<!-- END Login Navbar -->

<!-- START Profile Navbar -->
<nav th:fragment="profileNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a th:href="@{/userProfile}" class="navbar-brand">
            <img class="navbar-img" src="/images/networth-1.png" alt="">
        </a>

        <!-- About Link -->
        <div class="collapse navbar-collapse d-flex justify-content-end" id="profileNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/about">about</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END Profile Navbar -->

<!-- START About Us Navbar -->
<nav th:fragment="aboutUsNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a th:href="@{/userProfile}" class="navbar-brand">
            <img class="navbar-img" src="/images/networth-1.png" alt="">
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-end
" id="aboutNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/about">about</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- END About Us Navbar -->

<!-- START Side Navbar -->
<div th:fragment="sideNavbar" class="col-lg-3">

    <!-- Advanced filter responsive toggler START -->
    <div class="d-flex align-items-center d-lg-none">
        <button class="profile-button border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
            <i class="fa-brands fa-bitcoin" style="color: gold"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">Profile Menu</span>
        </button>
    </div>
    <!-- Advanced filter responsive toggler END -->

    <!-- Navbar START-->
    <nav class="navbar navbar-expand-lg ">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body d-block px-2 px-lg-0">
                <!-- Card START -->
                <div class="card overflow-hidden">
                    <!-- Cover image -->
                    <div class="h-50px"
                         style="background-image:url('https://cdn.filestackcontent.com/svmsGOZIQxOdQmL06LHM'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>

                    <!-- Card body START -->
                    <div class="card-body pt-0">
                        <div class="text-center">

                            <!-- Avatar / Profile Pic -->
                            <div id="userProfilePic" class="avatar avatar-lg mt-n5 mb-3">
                                <a href="#">

                                    <img style="width: 50px;" class="avatar-img  border  border-3 mt-2"
                                         th:src="${user.profilePicture}" alt="">

                                </a>
                            </div>

                            <!-- User Info -->
                            <h5 class="mb-0"><a href="/userProfile"
                                                th:text="${user.firstName}+' '+${user.lastName}"></a></h5>
                            <br>
                            <small th:text="${user.userTitle}"></small>
                            <br>
                            <br>

                            <!-- User stat START -->
                            <div class="hstack gap-2 gap-xl-3 justify-content-center">
                                <!-- User stat item -->
                                <div>
                                    <h6 class="mb-0" th:text="${user.getPosts().size()}"></h6>
                                    <small>Post</small>
                                </div>

                                <!-- Divider -->
                                <div class="vr"></div>
                                <!-- User stat item -->
                                <div>
                                    <h6 class="mb-0"></h6>
                                    <small>Followers</small>
                                </div>
                                <!-- Divider -->
                                <div class="vr"></div>
                                <!-- User stat item -->
                                <div>
                                    <h6 class="mb-0"></h6>
                                    <small>Following</small>
                                </div>
                            </div>
                            <!-- User stat END -->

                        </div>

                        <!-- Divider -->
                        <hr>
                        <!-- Side Nav START -->
                        <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/posts">
                                    <i class="fa-solid fa-network-wired"></i>
                                    <span>Home</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/userProfile">
                                    <i
                                            class="fa-solid fa-money-bill-trend-up">
                                    </i>
                                    <span> Profile</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/finance">
                                    <i class="fa-brands fa-bitcoin"></i>
                                    <span> Dashboard</span>
                                </a>
                            </li>

                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link" href="/crypto">-->
                            <!--                                    <i class="fa-solid fa-money-bill-trend-up"></i>-->
                            <!--                                    <span> Market</span>-->
                            <!--                                </a>-->
                            <!--                            </li>-->


                            <li class="nav-item">
                                <a class="nav-link" href="/updateProfile">
                                    <i class="fa-solid fa-user"></i>
                                    <span> Update Profile</span>
                                </a>
                            </li>


                            <li sec:authorize="hasAnyAuthority('admin','super-admin')" class="nav-item">
                                <a class="nav-link btn btn-outline-secondary p-2" th:href="@{/admin/getUsers}">Manage
                                    Users</a>
                            </li>


                        </ul>
                        <!-- Side Nav END -->
                    </div>
                    <!-- Card body END -->
                    <!-- Card footer -->
                    <div class="card-footer text-center py-2">
                        <form th:action="@{/logout}" method="POST">
                            <button class="btn shareBtn" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
                <!-- Card END -->

                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar END-->
</div>
<!-- END START Side Navbar-->

<!--Crypto Navbar tag fragment START-->
<nav th:fragment="cryptoNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img class="navbar-img" src="/images/networth-1.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedCryptoContent">
            <ul class="navbar-nav">
                <!-- About -->
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/about">about</a>
                </li>
                <!-- Profile -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/userProfile}">profile</a>
                </li>
                <!-- Logout -->
                <li class="nav-item">
                    <form th:action="@{/logout}" method="POST" class="navbar-form">
                        <button class="btn btn primary" type="submit">logout</button>
                    </form>
                </li>
                <!-- Search Crypto -->
                <li class="nav-item">
                    <form class="d-flex">
                        <input id="cryptoearch" class="form-control me-2 " type="text" placeholder="Search"
                               aria-label="Search">
                        <button id="searchBtn" class="btn btn-outline-success " type="button">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Crypto Navbar tag fragment END-->

<!--********************Admin Dashboard Nav***************************-->

<!--Side Navbar tag fragment START-->

<div th:fragment="sideNavbar-admin1" class="col-3">
    <!-- Advanced filter responsive toggler START -->
    <div class="d-flex align-items-center d-lg-none">
        <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSideNavbar-admin2" aria-controls="offcanvasSideNavbar-admin2">
            <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2 text-white">Menu</span>
        </button>
    </div>
    <!-- Advanced filter responsive toggler END -->

    <!-- Navbar START-->
    <nav class="navbar navbar-expand-lg">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar-admin2">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body d-block px-2 px-lg-0">
                <!-- Card START -->
                <div class="card overflow-hidden">
                    <!-- Cover image -->
                    <div class="h-50px "
                         style="background-image:url(https://cdn.filestackcontent.com/svmsGOZIQxOdQmL06LHM); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>

                    <!-- Card body START -->
                    <div class="card-body pt-0">
                        <div class="text-center">

                            <!-- Avatar -->


                            <!-- Info -->
                            <h5 class="mb-0"><a href="#" th:text="${user.firstName}+' '+${user.lastName}"></a></h5>
                            <div class="m-1" th:each="role: ${roles}">
                                <h5 th:text="${role.type}"></h5>
                            </div>


                            <!-- User stat START -->
                            <div class="hstack gap-2 gap-xl-3 justify-content-center">
                                <!-- User stat item -->


                                <!-- Divider -->
                                <div class="vr"></div>
                                <!-- User stat item -->

                                <!-- Divider -->
                                <div class="vr"></div>
                                <!-- User stat item -->

                            </div>
                            <!-- User stat END -->

                        </div>

                        <!-- Divider -->
                        <hr>
                        <!-- Side Nav START -->
                        <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/getUsers}"><i class="fa-solid fa-user"></i><span>Manage Users</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/roles"><i class="fa-solid fa-network-wired"></i><span>manage roles</span></a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="/posts">
                                    <i class="fa-solid fa-network-wired"></i>
                                    <span> $tockpile</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/userProfile">
                                    <i
                                            class="fa-solid fa-money-bill-trend-up">
                                    </i>
                                    <span> Profile</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/finance">
                                    <i class="fa-brands fa-bitcoin"></i>
                                    <span> Dashboard</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/crypto">
                                    <i class="fa-solid fa-money-bill-trend-up"></i>
                                    <span> Market</span>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="/updateProfile">
                                    <i class="fa-solid fa-user"></i>
                                    <span> Update Profile</span>
                                </a>
                            </li>


                        </ul>
                        <!-- Side Nav END -->
                    </div>
                    <!-- Card body END -->
                    <!-- Card footer -->
                    <div class="card-footer text-center py-2">
                        <ul>
                            <li class="nav-item" style="list-style-type: none">
                                <form th:action="@{/logout}" method="POST">
                                    <button class="btn btn-outline-primary" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Card END -->
            </div>
        </div>
    </nav>
    <!-- Navbar END-->
</div>

<!--Script tags fragment START-->
<div th:fragment="scriptTags">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="/js/filepickerAPI.js"></script>
    <script src="/js/filepicker.js"></script>
    <script src="/js/topCrypto.js"></script>
</div>
<!--Script tags fragment END-->

<!--Script tags for crypto search fragment START-->
<div th:fragment="cryptoScriptTags">
    <script src="/js/addCryptoLogic.js"></script>
</div>
<!--Script tags for crypto search fragment END-->

</body>
</html>