<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--<head>-->
<!--    <div th:replace="fragments :: myheader"></div>-->

<!--    <div th:replace="fragments :: css"></div>-->

<!--    <title>Add asset</title>-->
<!--</head>-->

<head th:replace="partials::head(title='Add Asset')"/>
<body>
<nav th:replace="partials::mainNavbar"/>
<!--<div th:replace="fragments :: pforms-navbar "></div>-->


<hr class="mb-4">
<div class="row justify-content-center">
    <div class="col-md-6">



        <div class="card card-outline-secondary">
            <div class="alert alert-danger" role="alert" th:text="${lowBalance}" th:if="${lowBalance}"></div>

            <div class="card-header">
                <h3 class="mb-0">Add asset</h3>
            </div>

            <div class="card-body">
                <form th:action="@{/add_crypto}" th:method="post"  class="form">
                    <div class="form-group">
                        <label for="name">Asset name</label>
                        <input class="form-control" id="name" name="name" required="" type="text" th:value="${name}"/>
                    </div>
                    <div class="form-group">
                        <label for="ticker">Ticker</label>
                        <input  class="form-control" id="ticker" required="" type="text" name="ticker" th:value="${ticker}"/>
                    </div>
                    <div class="form-group">
                        <label for="price" >Price</label>
                            <input id="price" name="price" class="form-control" type="text" th:value="${price}"/>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input class="form-control" id="quantity" name="quantity" required="" type="text"/>
                    </div>

                    <div class="form-group">

                        <label for="portfolio">Portfolio</label>
                            <select id="portfolio" name="portfolio" class="form-select">
                                <option th:each="portfolio : ${portfolios}" th:value="${portfolio.id}" th:text="${portfolio.name}"></option>
                            </select>

                    </div>
                    <!-- Buttons -->
                    <div class="form-group d-flex justify-content-xl-between mt-2">
                        <!-- Submit Button -->
                        <button class="btn btn-success btn-lg float-right" type="submit" value="Log In">Submit</button>
                        <!-- Go Back Button -->
                        <button class="btn btn-danger btn-lg" type="submit" value="Go back!" onclick="history.back()">Go Back</button>
                    </div>
                </form>
            </div><!--/card-block-->
        </div><!-- /form card login.html -->
    </div>
</div>






<div th:replace="fragments :: jsFile"></div>
</body>
</html>