<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials::head"/>
<body>
<!--<div th:replace="fragments ::pforms-navbar"></div>-->
<nav th:replace="partials::mainNavbar"/>

<div class="text-center mb-3">
    <h1>Create New Portfolio</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <span class="anchor" id="formRegister"></span>
        <hr class="mb-5">
        <!-- form card register -->
        <div class="card card-outline-secondary">

            <div class="card-header">
                <div class="alert alert-danger m-3" role="alert" th:text="${needPortfolio}" th:if="${needPortfolio}"></div>
                <div class="alert alert-danger" role="alert" th:text="${rename}" th:if="${rename}"></div>

                <h3 class="mb-0">Create Portfolio</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/addPortfolio}" method="POST"  autocomplete="off" class="form" role="form">


                    <div class="form-group">
                        <label for="name">Portfolio name</label>
                        <input name="name" class="form-control" id="name" placeholder="" required="" type="text">
                    </div>

                    <div class="form-group">
                        <label for="dollar">Dollar limit</label>
                        <input name="dollarLimit" class="form-control" id="dollar" placeholder="$" required="" type="text">
                    </div>

                    <div class="form-group">
                        <label for="type">choose Portfolio type</label>
                        <select  id="type" name="type" class="form-select">
                            <option>Private</option>
                            <option>Default</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-success btn-lg float-right" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div><!-- /form card register -->
    </div>
</div>

</body>
</html>